// Colors
$redColor: #FF5F54;
$whiteColor: #FFFFFF;

$black100Color: #22284B;
$black80Color: #596A8C;
$black60Color: #9EAFC7;
$black40Color: #C5CFDD;
$black30Color: #E2E7EE;
$black10Color: #F5F7F9;
$black5Color: #FAFBFC;

// shadows, borders
$boxShadow: 0 4px 8px rgba(192, 205, 217, 0.18), 0 0 2px rgba(192, 205, 217, 0.12), 0 0 1px rgba(0, 0, 0, 0.04);
$borderRadius: 6px;

@mixin selectItem {
  font-size: 16px;
  line-height: 1.3;
  padding: 12px 16px;
  flex-basis: 30px;
  flex-shrink: 0;
  cursor: pointer;
  width: 100%;
  border-radius: 0;

  &:first-child {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }

  &:last-child {
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}

@mixin placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black60Color;
}

