.app {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #000000;
}

.column {
  margin: 0;
  max-width: 992px;
  width: 100vw;
  height: 100vh;
  padding: 0 32px;
  flex-direction: column;
}

.header {
  display: flex;
  position: sticky; /* stick the header, now it not working */
  width: 100%;
  height: 120px;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 220px;
  height: 60px;
  margin-right: 16px;
}

.search {
  max-width: 480px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .column {
    padding: 0 16px;
  }

  .logo {
    width: 110px;
    height: 30px;
  }
}
